@use "variables" as *;
@use "mixins" as *;

html {
  scroll-behavior:smooth;
}

:root {
  --color-main: #{$color-main};
  --color-font: #{$color-font};
  --header-height: 96px;

  @include mq(1024){
    --header-height: 64px;
  }
}

body {
  font-family: $font-base;
  color: $color-font;
  font-size: 1rem;
  padding-top: var(--header-height);
  line-height: 1;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

a,button{
  cursor: pointer;
}
