@use 'sass:map';
@use "variables" as *;

@mixin mq($breakpoint: sp){
  @if map.has-key($breakpoints, $breakpoint){
    @media #{map.get($breakpoints, $breakpoint)}{
      @content;
    }
  }
  @else{
    @media screen and (max-width: #{$breakpoint}px){
      @content;
    }
  }
}

@function rclamp($min, $max, $minViewport:375, $maxViewport:1536) {
  $vwScale: calc(($max - $min) / ($maxViewport - $minViewport));  // vw単位でのスケールを計算
  $baseOffset: $min - $minViewport * $vwScale;  // 基準となる最小値からのオフセットを計算

  $minRem: calc($min / 16);  // 最小値をremに変換
  $maxRem: calc($max / 16);  // 最大値をremに変換
  $baseOffsetRem: calc($baseOffset / 16);  // オフセットをremに変換
  $vwScaleRem: $vwScale * 100;  // vwスケールを調整

  @return clamp(#{$minRem}rem, #{$baseOffsetRem}rem + #{$vwScaleRem}vw, #{$maxRem}rem);
}