$font-base: "Noto Sans JP", sans-serif;
$color-main: #007FC6;
$color-font: #333;
$common-gradation: linear-gradient(287.03deg, #02D1FF 0%, #007FC6 100%);

$breakpoints: (
  'sp': '(width <= 767px)',
  'tab': '(width <= 960px)'
);




